.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .col-2,
  .col-3 {
    gap: 3rem;
  }
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
