.lightgray-bg {
  background-color: $clr-gray-light;
}

.dark-bg {
  background-color: $clr-gray-3;
}

.brand-bg {
  background-color: $clr-brand;
}

.text-light {
  color: $clr-white;
}

.text-small {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}
