.bg-lightgray {
  background-color: $clr-gray-light;
}

.bg-dark {
  background-color: $clr-gray-3;
}

.bg-brand {
  background-color: $clr-brand;
}

.text-light {
  color: $clr-white;
}

.text-small {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}
